# Godot 4+ specific ignores
game/.godot/

# App icon images
game/StoreAssets/

# Export file ignores
game/export_presets.cfg
game/android/*
*.aab
*.apk
*.idsig
*.exe

# Blender backup files
blender_models/*.blend1
# Blender materials files (don't include in git since they can be re-exported from Material Maker)
blender_models/*.png
blender_models/*.exr
